<!DOCTYPE html>
<html>
<head>
    <title><%= article.titre %></title>
</head>
<body>
    <h1><%= article.titre %></h1>
    <p><%= article.contenu %></p>
    <a href="/articles">Retour à la liste des articles</a>
</body>
</html>
