<!DOCTYPE html>
<html>
<head>
    <title>Créer une nouvelle catégorie</title>
</head>
<body>
    <h1>Créer une nouvelle catégorie</h1>
    <form action="/categories" method="POST">
        <label for="libelle">Libellé:</label>
        <input type="text" id="libelle" name="libelle" required><br>
        
        <button type="submit">Créer</button>
    </form>
</body>
</html>
