<!DOCTYPE html>
<html>
<head>
    <title>Modifier la catégorie</title>
</head>
<body>
    <h1>Modifier la catégorie</h1>
    <form action="/categories/<%= categorie.id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        
        <label for="libelle">Libellé:</label>
        <input type="text" id="libelle" name="libelle" value="<%= categorie.libelle %>" required><br>
        
        <button type="submit">Enregistrer les modifications</button>
    </form>
</body>
</html>
