<!DOCTYPE html>
<html>
<head>
    <title><%= categorie.libelle %></title>
</head>
<body>
    <h1><%= categorie.libelle %></h1>
    <a href="/categories">Retour à la liste des catégories</a>
</body>
</html>
