node_modules/
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/adminpage/page_client-reference-manifest.js
.next/server/app/adminpage/page.js
.next/server/app/auth/page_client-reference-manifest.js
.next/server/app/auth/page.js
.next/server/app/favicon.ico/route.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/next.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/adminpage/page.js
.next/static/chunks/app/auth/page.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/05a31a2ca4975f99-s.woff2
.next/static/media/51ed15f9841b9f9d-s.woff2
.next/static/media/513657b02c5c193f-s.woff2
.next/static/media/c9a5bc6a7c948fb0-s.p.woff2
.next/static/media/d6b16ce4a6175f26-s.woff2
.next/static/media/ec159349637c90ad-s.woff2
.next/static/media/fd4db3eb5472fc27-s.woff2
.next/static/webpack/4b580cd13c563607.webpack.hot-update.json
.next/static/webpack/6f65d458e8815d41.webpack.hot-update.json
.next/static/webpack/7c8e70923261b743.webpack.hot-update.json
.next/static/webpack/8b743711893a2d81.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/e72e3d1d7c202439.webpack.hot-update.json
.next/static/webpack/e97ea06ad2a35002.webpack.hot-update.json
.next/static/webpack/f3e8e8507820a9f7.webpack.hot-update.json
.next/static/webpack/f0539fdbfaff7ba7.webpack.hot-update.json
.next/static/webpack/webpack.4b580cd13c563607.hot-update.js
.next/static/webpack/webpack.6f65d458e8815d41.hot-update.js
.next/static/webpack/webpack.7c8e70923261b743.hot-update.js
.next/static/webpack/webpack.8b743711893a2d81.hot-update.js
.next/static/webpack/webpack.e72e3d1d7c202439.hot-update.js
.next/static/webpack/webpack.e97ea06ad2a35002.hot-update.js
.next/static/webpack/webpack.f3e8e8507820a9f7.hot-update.js
.next/static/webpack/webpack.f0539fdbfaff7ba7.hot-update.js
.next/static/webpack/app/layout.4b580cd13c563607.hot-update.js
.next/static/webpack/app/layout.6f65d458e8815d41.hot-update.js
.next/static/webpack/app/layout.7c8e70923261b743.hot-update.js
.next/static/webpack/app/layout.e72e3d1d7c202439.hot-update.js
.next/static/webpack/app/layout.e97ea06ad2a35002.hot-update.js
.next/static/webpack/app/layout.f3e8e8507820a9f7.hot-update.js
.next/static/webpack/app/adminpage/page.6f65d458e8815d41.hot-update.js
.next/static/webpack/app/adminpage/page.7c8e70923261b743.hot-update.js
.next/static/webpack/app/adminpage/page.e72e3d1d7c202439.hot-update.js
.next/static/webpack/app/adminpage/page.e97ea06ad2a35002.hot-update.js
.next/static/webpack/app/adminpage/page.f3e8e8507820a9f7.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/adminpage/page.ts
.next/types/app/auth/page.ts
